<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhongfl.wangyunkai.mapper.DepMapper" >
    <sql id="Base_Column_List">
        id, `name`, detail, deleted
    </sql>

    <insert id="insert">
        INSERT INTO tb_department(`name`, detail)
        VALUES (#{name}, #{detail})
    </insert>

    <update id="update">
        UPDATE tb_department
        <set>
            <if test="name != null and name != ''">
                `name` = #{name},
            </if>
            <if test="detail != null and detail != ''">
                detail = #{detail},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="delete">
        UPDATE tb_department
        <set>
            deleted = 1,
        </set>
        WHERE id = #{id}
    </update>

    <select id="list" resultType="com.zhongfl.wangyunkai.bean.Department">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_department
        WHERE deleted = 0
    </select>

</mapper>