<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhongfl.fanhui.mapper.UserMapper" >

    <sql id="Base_Column_List">
      id, real_name, age, gender, mobile, nick_name, dept_id, deleted, created_by, created_time
    </sql>

    <sql id="Department_List">
        id, `name`
    </sql>

    <insert id="insert">
        INSERT INTO tb_staff (real_name, gender, age, mobile, nick_name, dept_id,  created_by, created_time)
        VALUES (#{realName}, #{gender}, #{age}, #{mobile}, #{nickName}, #{deptId}, #{createdBy}, now())
    </insert>

    <update id="deleteById">
        UPDATE tb_staff
        SET deleted = 1
        WHERE id = #{id}
    </update>

    <update id="updateById">
        UPDATE tb_staff
        <set>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="mobile != null">
                mobile = #{mobile},
            </if>
            <if test="nickName != null and nickName != ''">
                nick_name = #{nickName},
            </if>
            <if test="createdBy != null and createdBy != ''">
                created_by = #{createdBy},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateDept">
        UPDATE tb_staff
        SET dept_id = #{newId}
        WHERE dept_id = #{oldId}
    </update>

    <update id="updateDetail">
        UPDATE tb_staff
        <set>
            <if test="realName != null and realName != ''">
                real_name = #{realName},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="mobile != null and mobile != ''">
                mobile = #{mobile},
            </if>
            <if test="nickName != null and nickName != ''">
                nick_name = #{nickName},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId},
            </if>
        </set>
        WHERE id = #{staffId}
    </update>

    <select id="select" resultType="com.zhongfl.fanhui.bean.User">
        SELECT s.id, s.real_name, s.age, s.gender, s.mobile, s.nick_name,s.dept_id, s.created_by, d.name AS deptName
        FROM tb_staff AS s JOIN tb_department AS d ON s.dept_id = d.id
        <where>
                s.deleted = 0
            <if test="realName != null and realName != ''">
                AND real_name LIKE concat('%',#{realName},'%')
            </if>
            <if test="age != null">
                AND age = #{age}
            </if>
            <if test="gender != null">
                AND gender = #{gender}
            </if>
            <if test="mobile != null and mobile != ''">
                AND mobile = #{mobile}
            </if>
            <if test="nickName != null and nickName != ''">
                AND nick_name LIKE concat('%',#{nickName},'%')
            </if>
            <if test="deptId != null">
                AND dept_id = #{deptId}
            </if>
            <if test="deptName != null and deptName != ''">
                AND `name` LIKE concat('%',#{deptName},'%')
            </if>
        </where>
    </select>

    <select id="findDep" resultType="com.zhongfl.fanhui.bean.Department">
        SELECT
        <include refid="Department_List"/>
        FROM tb_department
    </select>
</mapper>

